* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

header {
  border: solid 1px rgb(100, 100, 100);
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  text-align: center;
  padding: 10px;
}

footer {
  height: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  border: solid 1px rgb(100, 100, 100);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
}

section {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

nav {
  width: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  border: solid 1px rgb(100, 100, 100);
  background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  display: flex;
  flex-direction: column;
}
nav > div:nth-child(2) {
  overflow: auto;
}

container {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 10px;
  background-image: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8));
}

article {
  width: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border: solid 1px rgb(100, 100, 100);
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
}
.TitleLine1 {
  display: block;
  font-size: 2em;
  font-weight: bolder;
}
.TitleLine2 {
  display: block;
  font-size: 1.5em;
  font-weight: bolder;
  letter-spacing: 10px;
  word-spacing: 20px;
}
.TitleLine3 {
  display: block;
  font-size: 1.2em;
  font-weight: bolder;
}
.Theme-0 {
  background-color: rgb(0, 0, 0);
}

.Theme-1 {
  background-color: rgb(50, 0, 235);
}

.Theme-2 {
  background-color: rgb(235, 0, 20);
}

.Theme-3 {
  background-color: rgb(250, 105, 8);
}

.Theme-4 {
  background-color: rgb(0, 128, 0);
}

.Theme-5 {
  background-color: rgb(255, 0, 0);
}

.Theme-6 {
  background-color: rgb(0, 0, 255);
}

nav .nav_close {
  display: none;
}

nav .nav_title {
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 5px;
  border-top: solid 3px;
  border-bottom: solid 3px;
  font-size: 14pt;
}

nav ul.nav_Menu {
  font-size: 10pt;
  font-weight: bold;
  list-style: none;
}

nav ul.nav_Menu > li {
  display: block;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 3px;
  background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
}

nav ul.nav_Menu > li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

nav ul.nav_Menu > li.Selected {
  color: red;
}

#ThemeChanger {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  white-space: nowrap;
}

#ThemeChanger a {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: solid 1px black;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 3px white;
  cursor: pointer;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
}

#ThemeChanger a:hover {
  border-width: 2px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a[download],
a[target] {
  display: block;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  border: solid 1px rgba(0, 0, 0, 0.1);
}

a[download]:hover,
a[target]:hover {
  color: red;
  text-decoration: underline;
  border: solid 1px rgba(0, 0, 0, 0.3);
}

hr {
  margin: 10px 0px;
}

p {
  margin: 10px 0px;
  padding: 5px 5px 5px 50px;
}

i {
  font-family: monospace;
  font-weight: 100;
}

.divExample {
  border: solid 1px red;
  background-color: black;
  color: white;
  padding: 50px;
  font-family: "Courier New", Courier, monospace;
  overflow: auto;
}

.divExample .output {
  color: gray;
  padding: 10px;
  display: inline-block;
}

@media only screen and (max-width: 799px) {
  section {
    overflow: auto;
    flex-direction: column;
  }
  container {
    overflow: visible;
  }
  nav {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    height: 100%;
    width: 0px;
    z-index: 2;
    transition: all 300ms;
  }
  article {
    width: 100%;
    overflow: visible;
  }

  .TitleLine1 {
    font-size: 1.2em;
  }
  .TitleLine2 {
    font-size: 1.2em;

    letter-spacing: 5px;
    word-spacing: 10px;
  }
  .TitleLine3 {
    font-size: 1em;
  }
  #ThemeChanger {
    position: static;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  header {
    padding: 3px;
  }
  .navToggler {
    display: inline-block;
    position: absolute;
    z-index: 1;
    border: solid 1px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
  .navToggler span {
    display: block;
    background-color: white;
    padding: 1px;
    margin: 3px;
    width: 15px;
  }
  nav.Open {
    width: 300px;
  }
  nav.Open .nav_close {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    padding: 5px 8px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  nav .nav_title {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 400px) {
  .TitleLine1 {
    font-size: 1.4em;
  }
  .TitleLine2 {
    font-size: 1em;

    letter-spacing: 2px;
    word-spacing: 5px;
  }
  .TitleLine3 {
    font-size: 0.8em;
  }
  .TitleLine1 span {
    display: block;
  }

  header {
    padding: 3px 35px;
  }

  footer {
    font-size: 7pt;
  }
  nav.Open {
    width: 100%;
  }
}
